<!doctype html>
<html>
<head>
    <title>Results</title>
    <style>
* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

    </style>

    <script>

    function download(filename, text) {
    var element = document.createElement('a');
    element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
    element.setAttribute('download', filename);
    element.style.display = 'none';
    document.body.appendChild(element);
    element.click();
    document.body.removeChild(element);
}


function myFunction() {
  alert("hi");
  var text = document.getElementById("textArea").value;
  var filename = document.getElementById("yn").value;
  if( filename ) {
  if (!filename.endsWith(".yara")){
  filename= filename+".yara";}

  download(filename, text);
}
else{
alert("Provide Proper File Name");
}

}



<!--// Start file download.-->
<!--document.getElementById("dwn-btn").addEventListener("click", function(){-->
    <!--// Generate download of hello.txt file with some content-->
    <!--alert("hi");-->
    <!--var text = document.getElementById("textArea").value;-->
    <!--var filename = "hello.txt";-->

    <!--download(filename, text);-->
<!--}, false);-->

    </script>
</head>
<body>


<div class="row">
    <div class="column">
        <h2>Working Yara Rule</h2>
        <textarea id="textArea"
                  style="width: 100%; height: 620px; margin: 0 auto; overflow: auto; float:right; resize: none;">
{{x}}
    </textarea>
        Yara name: <input type="text" name="fname" id="yn">.yara<br>
        <input type="button" id="dwn-btn" onclick="myFunction()" value="Download YARA file"/>
    </div>
    <div class="column">
        <h2>Printable strings</h2>
        <ul id="navigation" style=" width: 100%; height: 620px; margin: 0 auto; overflow: auto; float:right">
            {% for item in all %}
            <li>{{ item }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="column">
        <h2>Opcodes</h2>
        <ul id="navigation_op" style=" width: 100%; height: 620px; margin: 0 auto; overflow: auto; float:right">
            {% if all_op == "No Opcodes" %}
            <li>No Opcodes</li>
            {% else %}
            {% for item in all_op %}
            <li>{{ item }}</li>
            {% endfor %}
            {% endif %}
        </ul>
    </div>
</div>


<!--&lt;!&ndash;<div style="width: 100px; float:left; height:100px; background:yellow; margin:10px">&ndash;&gt;-->
<!--<div style="width:49%; float:left; display:inline-block;  margin: 0 auto; resize: both">-->
<!--<h1>Working Yara Rule</h1>-->
<!--<textarea rows="40" cols="75"  id="textArea" style="resize: none;">-->
<!--{{x}}-->
<!--</textarea>-->
<!--Yara name: <input type="text" name="fname" id="yn"><br>-->
<!--<input type="button" id="dwn-btn" onclick="myFunction()" value="Download YARA file"/>-->
<!--</div>-->

<!--&lt;!&ndash;<div style="width: 100px; float:left; height:100px; background:gray; margin:10px">&ndash;&gt;-->
<!--<div style="width:49%; float:left; display:inline-block; margin: 0 auto; resize: both; ">-->
<!--<h1>Printable strings</h1>-->
<!--<ul id="navigation" style="width: 500px; height: 620px; margin: 0 auto; overflow: auto; ">-->
<!--{% for item in all %}-->
<!--<li>{{ item }}</li>-->
<!--{% endfor %}-->
<!--</ul>-->
<!--</div>-->


</body>
</html>