<!doctype html>
<html>
<head>
    <title>Results</title>
    <style>
* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


    </style>

    <script>

    function download(filename, text) {
    var element = document.createElement('a');
    element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
    element.setAttribute('download', filename);
    element.style.display = 'none';
    document.body.appendChild(element);
    element.click();
    document.body.removeChild(element);
}


function myFunction() {
  var text = document.getElementById("textArea").value;
  var filename = document.getElementById("yn").value;
  if( filename ) {
  if (!filename.endsWith(".yara")){
  filename= filename+".yara";}
  download(filename, text);
}
else{
alert("Provide Proper File Name");
}}



    </script>
</head>
<body>


<div class="row">
    <div class="column">
        <h2>Working Yara Rule</h2>
        <textarea id="textArea"
                  style="width: 100%; height: 620px; margin: 0 auto; overflow: auto; float:right; resize: none;">
{{x}}
    </textarea>
        Yara name: <input type="text" name="fname" id="yn">.yara<br>
        <input type="button" id="dwn-btn" onclick="myFunction()" value="Download YARA file"/>
    </div>
    <div class="column">
        <h2>Printable strings</h2>
        <ul id="navigation" style=" width: 100%; height: 620px; margin: 0 auto; overflow: auto; float:right">
            {% for item in all %}
            <li>{{ item }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="column">
        <h2>Opcodes</h2>
        <ul id="navigation_op" style=" width: 100%; height: 620px; margin: 0 auto; overflow: auto; float:right">
            {% if all_op == "No Opcodes" %}
            <li>No Opcodes</li>
            {% else %}
            {% for item in all_op %}
            <li>{{ item }}</li>
            {% endfor %}
            {% endif %}
        </ul>
    </div>
</div>


<div>
    <div style="background-color:lightblue"><h3>Virus Total Results</h3></div>


    {%if sel == "No" %}
    <h4>No Virus Total Data</h4>
    {% elif sel == "md5" %}
    {% if vt["results"]["response_code"] ==0 %}
    <h4>Virus Total response </h4>
    <h5>{{vt["results"]["verbose_msg"]}}</h5>


    {% elif vt["results"]["response_code"] ==1 %}
    {% for key, value in vt["results"]["scans"].items() %}
    {% set x = False %}
    {% if value["detected"] == True %}
    {% set x = True %}
    <p><b>Anti Virus Platform :</b> {{key}}<br>
        <b>Result :</b> {{value["result"]}}</p>
    <hr>
    {% endif %}
    {% endfor %}
    {% if x == False %}
    <h4>No Malware</h4>
    {% endif %}
    {% endif %}
    {% elif sel == "up" %}


    {% for key, value in vt["results"]["scans"].items() %}
    {% set x = False %}
    {% if value["detected"] == True %}
    {% set x = True %}
    <p><b>Anti Virus Platform :</b> {{key}}<br>
        <b>Result :</b> {{value["result"]}}</p>
    <hr>
    {% endif %}
    {% endfor %}
    {% if x == False %}
    <h4>No Malware</h4>
    {% endif %}

    {% endif %}


</div>


</body>
</html>