<!doctype html>
<html>
<head>
    <title>Yara Creator</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
<div style="width: 60%; float: left;">
    <h1>Additional Informations for MISP EVENT</h1>

    <form method=post enctype=multipart/form-data action="{{ url_for('handle_data', yaraa=yara, filee=file) }}">
        <table>
            <tr>
                <td>
                    Event Informations
                </td>
                <td><input type="text" name="misp_event" size="50"></td>
                <td></td>
            </tr>

            <tr>
                <td>
                    Threat Level
                </td>
                <td><select name="threat_select">
                    <option value=0 selected>Undefined</option>
                    <option value=1>Low</option>
                    <option value=2>Medium</option>
                    <option value=3>High</option>
                </select></td>
                <td></td>
            </tr>

            <tr>
                <td>
                    Analysis
                </td>
                <td><select name="anal_select">
                    <option value=0 selected>Initial</option>
                    <option value=1>Ongoing</option>
                    <option value=2>Completed</option>
                </select></td>
                <td></td>
            </tr>

            <tr>
                <td>
                    Publish Event
                </td>
                <td><input type="checkbox" name="pub" value=True></td>
                <td></td>

            </tr>

            <tr>
                <td>
                    Upload Malware (zip Format)
                </td>
                <td><input type="checkbox" name="upl" value=True></td>
                <td></td>

            </tr>
            <tr>
                <td>
                    Attatchment Comments
                </td>
                <td><input type="text" name="att_com" size="50"></td>
                <td></td>
            </tr>

            <tr>
                <td>
                    <input type=submit value=Upload>
                    <button type="reset" value="Reset">Reset</button>
                    <button type="button" onclick="window.location.href='{{ url_for('upload_file') }}'">Home Page
                    </button>
                </td>
                <td></td>
                <td></td>
            </tr>

        </table>
    </form>
    <!--<textarea id="textArea" style="width: 100%; height: 620px; margin: 0 auto; overflow: auto; float:right; resize: none;">{{yara}}</textarea>-->
</div>

</body>
</html>


